.jumbotron{
    width:100%;
}

.landing-div-positioning {
    text-align:center;
    padding: 2% 0% 16% 0%;
}

h1 {
    font-size: 32px !important; 
}

@media screen and (min-width: 576px) {
    .landing-div-positioning {
        text-align:center;
        padding: 2% 0% 12% 0%;
    }

    h1 {
        font-size: 42px !important; 
    }
}

@media screen and (min-width: 768px) {

    .landing-div-positioning {
        text-align:center;
        padding: 2% 0% 12% 0%;
    }

    h1 {
        font-size: 52px !important; 
    }
}

@media screen and (min-width: 992px) {
    .landing-div-positioning {
        text-align:center;
        padding: 2% 0% 8% 0%;
    }
    
    h1 {
        font-size: 62px !important; 
    }
}

@media screen and (min-width: 1200px) {
    .landing-div-positioning {
        text-align:center;
        padding: 2% 0% 4% 0%;
    }
    
    h1 {
        font-size: 72px !important; 
    }
}