.jumbotron{
    width:100%;
}

.project-div-positioning {
    text-align:center;
    padding: 10px 0px 0px 0px;
    opacity:0;
}

.footer-placeholder {
    height:70px;
}

h1 {
    font-size: 32px !important; 
}

.jumbotron .lead {
    font-size:16px;
}

.jumbotron a {
    font-size:14px;
}

@media screen and (min-width: 640px) {
    h1 {
        font-size: 40px !important; 
    }
    .jumbotron .lead {
        font-size:18px;
    }
    .jumbotron a {
        font-size:16px;
    }
}

@media screen and (min-width: 960px) {
    h1 {
        font-size: 48px !important; 
    }
    .jumbotron .lead {
        font-size:20px;
    }
    .jumbotron a {
        font-size:18px;
    }
}

@media screen and (min-width: 1280px) {
    h1 {
        font-size: 56px !important; 
    }
    .jumbotron .lead {
        font-size:22px;
    }
    .jumbotron a {
        font-size:20px;
    }
}

@media screen and (min-width: 1600px) {
    h1 {
        font-size: 64px !important; 
    }
    .jumbotron .lead {
        font-size:24px;
    }
    .jumbotron a{
        font-size:22px;
    }
}

@media screen and (min-width: 1920px) {
    h1 {
        font-size: 72px !important; 
    }
    .jumbotron .lead {
        font-size:26px;
    }
    .jumbotron a {
        font-size:24px;
    }
}