.center-text{
    text-align:center;
}

.landing-div-positioning {
    text-align:center;
    padding: 10px 0px 60px 0px;
}

.profile-image{
    width:300px;
    height:400px;
    border-radius:100%;
}