body {
  margin: 0;
  font-family: sans-serif;
  background-color:#e9ecf0;
}

.cursor-pointer {
  cursor:pointer;
}

.jumbotron {
  background-color: #f8f9fa!important;
  margin-bottom:10px !important;
}